<app-nav></app-nav>

<div class="home-container" >
    <div class="show-container" *ngFor="let movie of movies">
        <div class="img-wrapper" routerLink="/movie/{{movie._id}}" id="{{movie._id}}">
          <img class="poster" src="{{movie.poster}}">
          <div class="text-wrapper">
            <div class="title">{{movie.title}}</div>
            <span class="genres" *ngFor="let genre of movie.genres">
             {{genre}}  
            </span>
            <div class="rating">&#9733; {{movie.imdb.rating}} / 10</div>
          </div>
        </div>
    </div>
</div>
 
