<div class="nav-container">
    <div id="nav" *ngIf="open" class="overlay">
        <a class="closebtn" (click)="toggleNav()">&times;</a>

        <div class="overlay-content">
            <div routerLink="/home" (click)="toggleNav()">Home</div>
            <div class="genres" *ngFor="let genre of allGenres">
                <a class="link">{{genre}}</a>
            </div>
        </div>
    </div>

    <div>
        <span class="openbtn" (click)="toggleNav()">&#9776;</span>
        <div class="logo">Mflix</div>
    </div>

    
</div>

